{% extends "main.html" %}

{% block content %}
<div class="container my-4">
    <h2 class="text-center mb-4" style="color: #333;">Student Information</h2>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for i in students %}
                <tr>
                    <td>{{ i.email }}</td>
                    <td>{{ i.contact }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.dob }}</td>
                    <td>
                        <a href="{% url 'update' i.id %}">
                            <button type="button" class="btn btn-sm btn-success">Update</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete' i.id %}">
                            <button type="button" class="btn btn-sm btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center text-muted">No student information available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
